body {
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0;
    background-color: rgb(16, 16, 16);
}
.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(16, 16, 16);
}
.mainCon {
    width: 90%;
    margin: auto;
    background-color: rgb(81, 81, 81);   
    border: ridge;
    border-radius: 10px;
    border-width:thin;
    border-color: orange;
    overflow: hidden;
    color:white;
}
#main-header
{

}
#logo {
    padding: 5px;
    position: relative;
    background-repeat: no-repeat;
    float: left;
}
#logo img{
    height:100px;
    width:100px;
    border:ridge;
    border-width:1px;
    border-color:orange;
    border-radius:50%;
}
.tag {
    white-space: nowrap;
    position: absolute;
    margin-top: 30px;
    margin-left:10px;
    float: right;
    font-size: 20px;
    color:white;
}
.tag a{
    color:white;
    text-decoration:none;
}
.tag strong{
    font-size: 35px;
}
.tag i{
    position:center;
}
#main-header h1{
	width: 60%;
	box-sizing:border-box;
	padding-top: 20px;
    padding-bottom: 5px;
	font-size: 30px;
	color: white;
    margin-bottom: 2px;
}
#main-header p{
    color:white;
    margin-bottom: 25px;
    margin-top: 0px;
}
#navbar {
    background-color: rgb(81, 81, 81);
    border: ridge;
    border-radius: 10px;
    border-color: orange;
    border-width: thin;
    margin-bottom: 10px;
}
#bar{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
#navbar ul{
	list-style: none;
}
#navbar li{
	display:inline-block;
}
#navbar a{
	text-decoration: none;
	margin-right:25px;
	color: white;
}
#navbar a:hover{
	color:orange;
}

#showcase-home {
    /*height: 483px;*/
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 5px;
    border: ridge;
    border-radius: 10px;
    border-width: thin;
    border-color: white;
    float: right;
    width: 40%;
}

#showcase-projects {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 5px;
    border: ridge;
    border-radius: 10px;
    border-width: thin;
    border-color: white;
    float: left;
    width: 30%;
}

.arrow{
    cursor:pointer;
    position:absolute;
    top:50%;
    margin-top:-10px;
    width:0;
    height:0;
    border-style:solid;
}

#arrow-left{
    border-width: 7px 14px 7px 0;
    border-color:transparent #fff transparent transparent;
    left:0;
    margin-left:10px;
}
#arrow-right {
    border-width: 7px 14px 7px 0;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 10px;
}

#showcase-projects img {
    position: absolute;
    background-position: center;
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: 10px;
}

#showcase-projects:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#showcase-home:after {
    content:"";
    display: block;
    padding-bottom: 100%;
}

#showcase-home img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: 10px;
    /*-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 2s ease-in-out;
-o-transition: opacity 2s ease-in-out;
transition: opacity 2s ease-in-out;*/
}

/* Potential smooth animation of images
#showcase img.top{
    animation-name: sc1fade;
    animation-timing-function:ease-in-out;
    animation-iteration-count:infinite;
    animation-duration: 4s;
    animation-direction:alternate;
}
@keyframes sc1fade{
    0%{
        opacity:0;
    }
    /*17%{
        opacity:1;
    }
    25% {
        opacity: 0;
    }
    92%{
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}
#showcase img:nth-of-type(1){
    animation-delay: 12s;
}
#showcase img:nth-of-type(2) {
    animation-delay: 8s;
}
#showcase img:nth-of-type(3) {
    animation-delay: 4s;
}
#showcase img:nth-of-type(4) {
    animation-delay: 0;
}
*/
#showcase h1{
	color: #fff;
	font-size: 50px;
	line-height: 1.6em;
	padding-top:30px; 
}
#main{
    margin-left: 5px;
	float:left;
	width:55%;
	box-sizing:border-box;
    color:white;
}
#main a{
    color:orange;
}
#main-projects{
    margin-right: 10px;
    float:right;
    width:65%;
    box-sizing:border-box;
    color:white;
    margin-bottom:50px;
}
#project-title{
    margin-right:5px;
}

#project-title a{
    color:orange;
    font-size: larger;
}
#sidebar {
    
}
#main-footer {
    background: rgb(81, 81, 81);
    color: white;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    border: ridge thin;
    border-radius: 10px;
    border-color: orange;
}
#main-footer a{
    color:orange;
}

#cv-con{
    width:90%;
    margin:auto;
}
#cv-con a{
    color:orange;
}
#cv-con strong{
    color:orange;
}
#profile{
    text-align:center;
}

#test {
    margin: auto;
    box-sizing: border-box;
    position: relative;
    color:yellow;
}

@media(max-width:10px){
	#main, #showcase, .tag{
		width:100%;
		float:none;
	}
    #main-header aside, #main, #main-projects, .main-con
	{
		width: 100%;
		position: center center;
	}
    #logo, .tag{
        position:center;
    }
    #navbar ul, #navbar li, #navbar a {
        width: 100%;
        position: center;
    }
    #project-title{
        margin-left:10px;
    }
    #main-projects{
        margin-bottom:5px;
    }
}
