body {
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0;
    background-color: rgb(16, 16, 16);
}
.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(16, 16, 16);
}
.linksContainer {
    overflow: hidden;
    font-size: 25px;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    line-height:30px;
}
.mainCon {
    width: 90%;
    margin: auto;
    background-color: rgb(81, 81, 81);   
    border: ridge;
    border-radius: 10px;
    border-width:thin;
    border-color: orange;
    overflow: hidden;
    color:white;
}
#logo {
    padding: 5px;
    position: relative;
    background-repeat: no-repeat;
    float: left;
}
#logo img{
    height:100px;
    width:100px;
    border:ridge;
    border-width:1px;
    border-color:orange;
    border-radius:50%;
}
.tag {
    white-space: nowrap;
    position: absolute;
    margin-top: 30px;
    margin-left:10px;
    float: right;
    font-size: 20px;
    color:white;
}
.tag a{
    color:white;
    text-decoration:none;
}
.tag strong{
    font-size: 35px;
}
.tag i{
    position:center;
}
.icon {
    display:none;
    float: right;
    color: white;
    margin-top:35px;
    border: ridge;
    border-width: 1px;
    border-radius: 10px;
    border-color: orange;
    background-color: rgb(81, 81, 81);
    right:0;
    top:0;
    padding:14px 16px;
    font-size:30px;
}
.icon:hover{
    color:orange;
    cursor:pointer;
}
#linksMenu {
    display: none;
    background-color: rgb(81, 81, 81);
    color: white;
    border: ridge;
    border-width: 1px;
    border-color: orange;
    border-radius: 10px;
}
#linksMenu ul{
    list-style:none;
    padding:0 10px 0 10px;
}
#linksMenu a {
    color: white;
    text-decoration: none;
}
#linksMenu a:hover{
    color:orange;
}
#main-header h1{
	width: 60%;
	box-sizing:border-box;
	padding-top: 20px;
    padding-bottom: 5px;
	font-size: 30px;
	color: white;
    margin-bottom: 2px;
}
#main-header p{
    color:white;
    margin-bottom: 25px;
    margin-top: 0px;
}
#navbar {
    background-color: rgb(81, 81, 81);
    border: ridge;
    border-radius: 10px;
    border-color: orange;
    border-width: thin;
    margin-bottom: 10px;
}

#bar{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
#navbar ul{
	list-style: none;
}
#navbar li{
	display:inline-block;
}
#navbar a{
	text-decoration: none;
	margin-right:25px;
	color: white;
}
#navbar a:hover{
	color:orange;
}

#project-all {
    overflow: hidden;
    margin:auto;
    width:95%;
    margin-bottom:30px;
}

#project-all h2 {
    text-align: center;
    margin-bottom: 10px;   
    margin-top:10px;
    letter-spacing:2px;
    line-height:28px;
}

#project-all a {
    color: orange;
}

#main-projects {
    margin-right: 10px;
    width: 95%;
    box-sizing: border-box;
    color: white;
    margin:auto;
}

#project-title {
    margin-right: 5px;
}

#showcase-home {
    /*height: 483px;*/
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 5px;
    border: ridge;
    border-radius: 10px;
    border-width: thin;
    border-color: white;
    float: right;
    width: 40%;
}

#showcase-projects {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    border: ridge;
    border-radius: 10px;
    border-width: thin;
    border-color: white;
    width: 80%;
    height:auto;
}
#code {
    background-color: rgb(16, 16, 16);
    color: orange;
    line-height: normal;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    border:ridge;
    border-width:thin;
}

#showcase-projects img {
    background-position: center;
    border-radius: 10px;
    max-height:100%;
    max-width:100%;
    object-fit:contain;
    height: auto;
    width: auto;
}

#showcase-home img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: 10px;
}

.arrow{
    cursor:pointer;
    position:absolute;
    top:50%;
    margin-top:-10px;
    width:0;
    height:0;
    border-style:solid;
}
.arrow:hover{
    color:orange;
}
#arrow-left{
    border-width: 7px 13px 7px 0;
    border-color:transparent #fff transparent transparent;
    left:0;
    margin-left:10px;
}
#arrow-right {
    border-width: 7px 0 7px 13px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 10px;
}

#showcase-projects:after {
    /*content: "";
    display: block;
    padding-bottom: 100%;*/
}

#showcase-home:after {
    content:"";
    display: block;
    padding-bottom: 100%;
}

#showcase h1{
	color: #fff;
	font-size: 50px;
	line-height: 1.6em;
	padding-top:30px; 
}
#main{
    margin-left: 5px;
	float:left;
	width:55%;
	box-sizing:border-box;
    color:white;
}
#main a{
    color:orange;
}

#sidebar {
    
}
#main-footer {
    background: rgb(81, 81, 81);
    color: white;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    border: ridge thin;
    border-radius: 10px;
    border-color: orange;
}
#main-footer a{
    color:orange;
}

#cv-con{
    width:90%;
    margin:auto;
}
#cv-con a{
    color:orange;
}
#cv-con strong{
    color:orange;
}
#profile{
    text-align:center;
}

#test {
    margin: auto;
    box-sizing: border-box;
    position: relative;
    color:yellow;
}

@-ms-viewport{width:device-width;}
@media(max-width: 500px){
    
}
@media(max-width:1200px){
    .container, #main-footer{
        width:95%;
    }
    #navbar {
        display: none;
    }
    .icon {
        display: block;
    }
	#main, #showcase, .tag{
		width:100%;
		float:none;
	}
    #main-header aside, #main, #main-projects, .main-con
	{
		width: 95%;
		position: center center;
	}
    #showcase-projects{
        margin-left:20px;
    }
    #logo, .tag{
        position:center;
    }

    #navbar ul, #navbar li, #navbar a {
        position: center;
    }
    #project-title{
        margin-left:10px;
    }
    #main-projects{
        margin-bottom:5px;
    }
}
